<div>
  <h1>Restaurar Contraseña</h1>
  <div style="text-align:center">
    <img src="cid:logo" />
  </div>
  <h3>¡Hola!</h3>
  <p>Puedes restaurar tu contraseña a partir del siguiente
    <a
      href="http://localhost:8080/password-restore?token={{token}}"
    >Link</a></p>
  <br />
  <p>Saludos cordiales</p>
  <p>Distribuidora Bescos</p>
</div>