<div>
  <h1>Bienvenid@ a Distribuidora Bescos</h1>
  <div style="text-align:center">
    <img src="cid:logo" />
  </div>
  <h3>¡Hola, {{user.firstName}}!</h3>
  <p>Gracias por registrarte, desde ahora puedes comprar en la distribuidora,
    chatear con otros clientes y mucho más.</p>
  <br />
  <p>Saludos cordiales</p>
  <p>Distribuidora</p>
</div>