<h1 class="title">Bienvenid@ a nuestro chat!</h1>
<div id="chatPanel">
  <div class="titlePanel">
    <h4 id="username"></h4>
    <p id="loadingText"></p>
  </div>

  <div id="chatContent" class="chatContent"></div>
  <div class="inputPanel">
    <textarea name="chatBox" id="chatBox"></textarea>
    <button id="sendButton">Enviar</button>
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>