<div class="container">
  <h1 class="title">Bienvenidos y bienvenidas a nuestra tienda</h1>

  <div class="container d-flex flex-column">

    <div class="row">
      <img class="img-logo" src="/img/logo.png" />
    </div>

    <div class="btnContainerSocial">
      <a href="/register"><button
          class="btn btn-success"
        >Registrarse</button></a>

      <a href="/login"><button class="btn btn-success">Iniciar sesión</button></a>

      {{! <a href="/api/sessions/github"><button class="btn btn-light">Usa tu cuenta
          GitHub<img class="social-img" src="/img/github.png" /></button></a>

      <a href="/api/sessions/google"><button class="btn btn-light">Usa tu cuenta
          Google<img class="social-img" src="/img/google.png" /></button></a> }}

    </div>
  </div>
</div>