<h1 class="title">Ingresa</h1>

<form class="formProducts" id="loginForm">
  <label class="label">Email</label>
  <input class="controls" name="email" />

  <label class="label">Contraseña</label>
  <input class="controls" name="password" type="password" />

  <input class="btn btn-success" type="submit" />
</form>

<p>¿Olvidaste tu contraseña? Puedes restablecerla
  <button
    class="btn btn-danger w-25"
    type="button"
    onclick="restorePassword()"
  >aqui</button></p>

<script src="/js/login.js"></script>