<link rel="stylesheet" href="/css/home.css">

<section class="main-social">
  <div class="container-social">
    <div class="back-box">
      <div class="back-box-login">
        <h3>¿Ya tienes una cuenta?</h3>
        <p>Inicia sesión para entrar en la página</p>
        <a href="/">
          <button id="btn-login">Iniciar Sesión</button>
        </a>
      </div>
      <div class="back-box-register">
        <h3>¿Aún no tienes una cuenta?</h3>
        <p>Regístrate para que puedas iniciar sesión</p>
        <a href="/register">
          <button id="btn-register">Regístrarse</button>
        </a>
      </div>
    </div>

    <!--Formulario de Login y registro-->
    <div class="container-login-register">
      <!--Login-->
      <form id="loginForm" class="login_Form">
        <h2>Iniciar sesión</h2>
        <input name="email" type="text" placeholder="email">
        <input name="password" type="password" placeholder="password">
        <input class="submitBtn" type="submit" value="Iniciar sesión"></input>
        <button class="btn mb-5" type="button" onclick="restorePassword()"> 
          ¿Olvidaste tu contraseña? Puedes restablecerla aqui
        </button>
      </form>
      <!--Register-->
      <form id="registerForm" class="register_Form">
        <h2>Regístrarse</h2>
        <input name="firstName" placeholder="primer nombre" type="text">
        <input name="lastName" placeholder="segundo nombre" type="text">
        <input name="email" placeholder="email (user)" type="email">
        <input name="password" placeholder="password" type="password">
        <input class="submitBtn" type="submit" value="Registrar usuario"></input>
      </form>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>

