
<h2 class="subtitle">Perfil</h2class>

<div class="container">

 <div class="profile" id="profile"> </div>

 <div class="container">
  <button class="btn btn-primary w-25" id="logout" type="button">Logout</button>
</div>
<script src="/js/profileUser.js"></script>