<h2 class="title">Finalizar compra</h2>

<div class="row" id="ticket"></div>

<div class="row btnContainer">
  <input
    class="btn btn-success w-50"
    type="submit"
    value="Finalizar compra"
    id="finish"
  />
</div>
<p class="text m-3">¡Muchas gracias por su compra!</p>

<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
"
></script>
<script src="js/purchase.js"></script>