<h1 class="title">Regístrate</h1>

<form id="registerForm" class="formProducts">
  <label class="label">Nombre</label>
  <input class="controls" name="firstName" />

  <label class="label">Apellido</label>
  <input class="controls" name="lastName" />

  <label class="label">Email</label>
  <input class="controls" name="email" />

  <label class="label">Contraseña</label>
  <input class="controls" name="password" type="password" />

  <input class="btn btn-success" type="submit" />
</form>

<script src="/js/register.js"></script>