@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.main-social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.container-social {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.back-box {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #b1c90e;
    box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.2);
}

.back-box div {
    margin: 50px 50px;
    color: white;
    transition: all 500ms;
}

.back-box div p,
.back-box a {
    margin-top: 30px;
}

.back-box div p {
    margin-bottom: 30px;
}

.back-box div h3 {
    font-weight: 400;
    font-size: 26px;
}

.back-box div p {
    font-size: 16px;
    font-weight: 300;
}

.back-box div a {
    flex-direction: row;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    display: flex; /* Añadido */
    align-items: center; /* Añadido */
}

.back-box div a img {
    width: 1.5rem;
    padding: 5px;
}

.back-box div a button {
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    margin-bottom: 20px;
}

.back-box div a button:hover {
    background: #fff;
    color: #b1c90e;
}

/*Formularios*/
.container-login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -170px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-login-register form {
    width: 100%;
    padding: 65px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.2);
}

.container-login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #b1c90e;
}

.container-login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.container-login-register form .submitBtn {
    padding: 10px 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    border: none;
    font-size: 14px;
    background: #b1c90e;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.social-img {
    width: 1.5rem;
    padding: 5px;
}

.btn {
    width: 90%;
    height: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: gray;
}

.login_Form {
    opacity: 1;
    display: block;
}

#first-child {
    margin-top: 30px;
    margin-bottom: 5px;
}

.login_Form p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 5px;
    font-size: 16px;
    background-color: #F2F2F2;
    color: gray;
}

.register_Form {
    display: none;
}

@media screen and (max-width: 850px) {

    main {
        margin-top: 50px;
    }

    .back-box {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .back-box div {
        margin: 0px;
        position: absolute;
    }

    /*Formularios*/
    .container-login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .container-login-register form {
        position: relative;
    }
}